@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
h1 {
    text-align: center;
    font-family: 'VT323', monospace;
    text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}   

body{
    background-color: teal;
}

ul {
    display: block;
    font-size: 20px;
    list-style-type: none;
    line-height: 26px;
}

h2 {
    margin: auto;
}

#RulesContainer {
    text-align: center;
    font-family: 'VT323', monospace;
    border: none;
    display: block;
}
#myCanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#score , #lives{
    text-align: center;
    font-size: 36px;
}

#startButton {
    background-color: red;
    color: ivory;
    padding: 15px 32px;
    font-family: 'VT323', monospace;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    color: #fff;
}

#container {
    display: block;
    width: 400px;
    height: 400px;
    margin: auto;
    position: relative;
    border:5px solid black; 
    border-radius: 10px; 
    box-shadow: 0px 5px 50px #333;
}

.modal {
    visibility: visible;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: whitesmoke;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -150px;
    border-style: double;
    max-width: 300px;
    max-height: 300px;
    display: block;

  }

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#aboutButton , #startButton{
      background-color: red;
      font-family: 'VT323', monospace;
      color: ivory;
      padding: 15px 32px;
      font-size: 16px;
  }

#startButton:hover ,#aboutButton:hover {background-color: maroon;}

.FinishScreen {
	text-align:center;
	border: none;
    background-color:transparent;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.FinishScreen h1{
	color: #fff200;
	font-family: 'VT323', monospace;
	font-size: 36px;
	font-weight: 700;
	margin: 250px 0px 10px;
	padding: 50px 0px 0px;
	text-align: center;
    text-transform: uppercase;
    text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;

}

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

.FinishScreen p {
    color: #fff;
    font-family: 'VT323', monospace;
    font-size: 20px;
    -webkit-animation-name: blinker;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}

#upButton, #downButton {
    background-color: red;
    color: ivory;
    padding: 15px 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    color: #fff;

}

#leftButton {
    background-color: red;
    color: ivory;
    padding: 15px 32px;
    margin-left: 30vw;
    margin-top: 10px;
    color: #fff;
}

#rightButton {
    background-color: red;
    color: ivory;
    padding: 15px 32px;
    margin-left: auto;
    margin-right: 30%;
    display: block;
    margin-top: -6.5vh;
    color: #fff;
}
#RestartButton{
    font-family: 'VT323', monospace;
    font-size: 20px;
    background-color: maroon;
    color: white;
}

#mobile-arrow-control {
    visibility: hidden;
}
  
.RandomQuote {
    text-align: center;
}