@font-face {
    font-family: 'Pixeled';
    src: url('Pixeled.ttf') format('truetype');
  }
h1 {
    text-align: center;
    font: 50px/50px monoton,cursive;
    text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}   


#RulesContainer {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    border: 10px dotted black;
    padding: 10px;
    margin-top: 19px;
    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 150px;}

ol{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: teal;
}
#myCanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#score , #lives{
    text-align: center;
    font-size: 36px;
}

#startButton {
    font: 30px/30px Monoton, cursive;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: dotted;
    margin-top: 10px;
    color: #fff;
    text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}

#container {
    display: block;
    visibility: hidden;
    width: 400px;
    height: 400px;
    margin: auto;
    position: relative;
    border:5px solid black; 
    border-radius: 10px; 
    box-shadow: 0px 5px 50px #333;
}

#upArrow {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px;

}

#downArrow {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px;
}

#leftArrow {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px;
}

#rightArrow {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px;
}