@font-face {
    font-family: 'Pixeled';
    src: url('Pixeled.ttf') format('truetype');
  }
h1 {
    text-align: center;
    font: 50px/50px monoton,cursive;
    text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}   

body{
    background-color: teal;
}

ol {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#RulesContainer {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
#myCanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#score , #lives{
    text-align: center;
    font-size: 36px;
}

#startButton {
    background-color: red;
    color: ivory;
    padding: 15px 32px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    color: #fff;
}

#container {
    display: block;
    width: 400px;
    height: 400px;
    margin: auto;
    position: relative;
    border:5px solid black; 
    border-radius: 10px; 
    box-shadow: 0px 5px 50px #333;
}

.modal {
    visibility: visible;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

.modal-content {
    background-color: teal;
    align-items: center;
    margin: 20vh 20vw auto;
    padding: 20px;
    border: none;
    width: 60vw;
    height: 30vh;
  }

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#aboutButton , #startButton{
      background-color: red;
      color: ivory;
      padding: 15px 32px;
      font-size: 16px;
  }

.FinishScreen {
	margin: 0 auto;
	text-align:center;
	border: none;
    background-color:transparent;
    visibility: visible;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.FinishScreen h1{
	color: #fff200;
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	font-weight: 700;
	margin: 250px 0px 10px;
	padding: 50px 0px 0px;
	text-align: center;
	text-transform: uppercase;
}

.FinishScreen p {
	color: #fff;
	font-weight: bold;
}

.FinishScreen h2{
	color: #ffffff;
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
	font-weight: 700;
	margin: 0px 0px 25px;
	text-align: center;
}

#upButton {
    background-color: red;
    color: ivory;
    padding: 15px 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    color: #fff;

}

#downButton {
    background-color: red;
    color: ivory;
    padding: 15px 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    color: #fff;
}

#leftButton {
    background-color: red;
    color: ivory;
    padding: 15px 32px;
    margin-left: 30vw;
    margin-top: 10px;
    color: #fff;
}

#rightButton {
    background-color: red;
    color: ivory;
    padding: 15px 32px;
    margin-left: auto;
    margin-right: 30%;
    display: block;
    margin-top: -6.5vh;
    color: #fff;
}

#mobile-arrow-control {
    visibility: hidden;
}